.HomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.HomeHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.CenterLogo {
  display: flex;
}

.Subtitle {
  margin-bottom: 0px;
}

.SubHeader {
  padding: 0 16px 16px;
}

.Slider {
  width: 100px;
}

/* Media Query para telas de tablets */
@media (min-width: 767px) {
  .HomeContainer {
    padding: 24px;
  }
}

/* Media Query para telas de laptops */
@media (min-width: 1024px) {
  .HomeContainer {
    padding: 32px;
  }
}

@media (min-width: 1440px) {
  .HomeContainer {
    padding: 32px;
  }
}
