.SearchInputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SearchInputContainerLeftAlign {
  justify-content: flex-start;
}

.SearchInputContainerRightAlign {
  justify-content: flex-end;
}

.SearchInput {
  width: 55%;
  height: 50px;
  border-radius: 25px;
  background-color: #fdecec;
  border: none;
  color: #fa7c7c;
  background-image: url("../../assets/ic_busca.svg");
  background-repeat: no-repeat;
  background-position: 25px;
  padding-left: 4rem;
}

.SearchInput::placeholder {
  color: #fa7c7c;
}

.SearchInput:focus-visible {
  outline: none;
}

@media (min-width: 1024px) {
  .SearchInput {
    padding-left: 4rem;
  }
}

@media (min-width: 1440px) {
  .SearchInput {
    width: 55%;
    height: 50px;
    padding-left: 4rem;
  }
}
