.CardGridContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}

/* .CardGridContainer {
  margin-top: 32px;
  display: grid;
  gap: 16px;
  width: 100%;
} */

/* Media Query para telas de tablets */
@media (min-width: 767px) {
  .CardGridContainer {
    grid-template-columns: 0.5fr 0.5fr;
  }
}

/* Media Query para telas de laptops */
@media (min-width: 1024px) {
  .CardGridContainer {
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1440px) {
  .CardGridContainer {
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
